<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--    1.执行顺序：BeanFactoryPostProcessor —> 构造方法 —> BeanPostProcessor的before —>
                      init-method —> BeanPostProcessor的after.
    -->
    <!--    2.实际运用中，可以配置多个BeanFactoryPostProcessor和BeanPostProcessor-->
    <!--    3.应用场景-->

    <!--    1.解析bean的注解，将注解中的字段转化为属性-->
    <!--    2、统一将属性在执行前，注入bean中，如数据库访问的sqlMap，如严重服务，这样不需要每个bean都配置属性-->
    <!--    3、打印日志，记录时间等。-->


    <!-- 普通的bean -->
    <bean id="user" init-method="init" class="com.imooc.source.beanPostProcessor.User"></bean>

    <!-- BeanFactory后置处理器 -->
    <bean id="beanFactoryPostPro" class="com.imooc.source.beanPostProcessor.MyBeanFactoryPostProcessor"></bean>

    <!-- Bean后置处理器  -->
    <bean id="beanPostPro" class="com.imooc.source.beanPostProcessor.MyBeanPostProcessor"></bean>

</beans>
