<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--	default-autowire="byName">-->
	<!-- default-autowire="constructor"> -->
	<!-- default-autowire="constructor"> -->

	<bean id="autoWiringService" class="com.imooc.autowiring.AutoWiringService" autowire="byType"/>

	<!--default-autowire="byName" -->
	<bean id="autoWiringDAO" class="com.imooc.autowiring.AutoWiringDAO"></bean>
	<bean id="autoWiringOtherDAO" class="com.imooc.autowiring.AutoWiringOtherDAO"></bean>
<!--	<bean id="autoWiringOtherDAO1" class="com.imooc.autowiring.AutoWiringOtherDAO"></bean>-->

	<!--default-autowire="byType" -->
	<!-- <bean class="com.imooc.autowiring.AutoWiringDAO" ></bean> -->

	<!--default-autowire="constructor" -->
	<!-- <bean class="com.imooc.autowiring.AutoWiringDAO"></bean> -->
</beans>
